@model List<Car>

@{
    ViewData["Title"] = "Home Page";
    int page = (int)ViewData["Page"];
    int itemsPerPage = (int)ViewData["ItemsPerPage"];

    int pages = Model.Count / itemsPerPage;

    if ((Model.Count % itemsPerPage) > 0)
    {
        pages++;
    }

    int firstPageIndex = page - 5;
    int lastPageIndex = page + 5;

    if (firstPageIndex < 1)
    {
        firstPageIndex = 1;
    }

    if (lastPageIndex > pages)
    {
        lastPageIndex = pages;
    }
}

<link href="~/css/shop-homepage.css" rel="stylesheet">

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            @if (ViewData["Filter"] == null)
            {
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="~/images/promo1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/images/promo2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="~/images/promo3.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="options" align="right">
                    <span>Per page</span>
                    <select id="perPage" onchange="window.location.href = '?perPage='+document.getElementById('perPage').value;">
                        @if (itemsPerPage == 9)
                        {
                            <option selected value="9">9</option>
                        }
                        else
                        {
                            <option value="9">9</option>
                        }
                        @if (itemsPerPage == 12)
                        {
                            <option selected value="12">12</option>
                        }
                        else
                        {
                            <option value="12">12</option>
                        }
                        @if (itemsPerPage == 18)
                        {
                            <option selected value="18">18</option>
                        }
                        else
                        {
                            <option value="18">18</option>
                        }
                        @if (itemsPerPage == 24)
                        {
                            <option selected value="24">24</option>
                        }
                        else
                        {
                            <option value="24">24</option>
                        }
                        @if (itemsPerPage == 30)
                        {
                            <option selected value="30">30</option>
                        }
                        else
                        {
                            <option value="30">30</option>
                        }
                    </select><br /><br />
                </div>
                @for (int i = page * itemsPerPage - itemsPerPage; (i < page * itemsPerPage) && (i < Model.Count); i++)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="~/Item?itemId=@Model[i].CarID"><img src="~/images/@Model[i].CarManufacturer&#46;png" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">$@Model[i].CarPrice</h4>
                                <h4>
                                    <a href="~/Item?itemId=@Model[i].CarID">@Model[i].CarYear @Model[i].CarManufacturer @Model[i].CarName</a>
                                </h4>
                                <p>@Model[i].CarDescription</p>
                            </div>
                            <a href="~/Item?itemId=@Model[i].CarID" class="btn btn-primary">View</a>
                        </div>
                    </div>
                }
                <table>
                    <tbody>
                        <tr>
                            <td>
                                @{
                                    if (page > 1)
                                    {
                                        <a href="?page=@(page - 1)&perPage=@itemsPerPage">Previous</a>
                                    }
                                    else
                                    {
                                        <span>Previous</span>
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    for (int i = firstPageIndex; i <= lastPageIndex; i++)
                                    {
                                        if (i == page)
                                        {
                                            @i
                                        }
                                        else
                                        {
                                            <a href="?page=@i&perPage=@itemsPerPage">@i</a>
                                        }
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (page < pages)
                                    {
                                        <a href="?page=@(page + 1)&perPage=@itemsPerPage">Next</a>
                                    }
                                    else
                                    {
                                        <span>Next</span>
                                    }
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>